<div id="view-receipt-content">
    <div>
        <b>Destination</b>: <a href="<%= session_link %>"><%= session_link %></a> <br>
        <b>User</b>: "<%= user %>" <br>
        <b>Study ID</b>: <%= session_data.studyId %> <br>

        <ol>
            <li><b>Start Upload: </b> <%= computed.start_upload %></li>
            <li><b>Upload Finished: </b> <%= computed.finished_upload %></li>
            <li><b>Study Anonymization: </b> 
                <ul>
                    <% for(var key in anon_variables) { %>
                        <li><b><%= key %>:</b> <%= anon_variables[key] %></li>
                    <% } %>
                </ul>
            </li>

            <% for(var single_series in series) { %>
                <li><b>Scan Series:</b> <%= series[single_series].seriesInstanceUid %> 
                    <ul>
                        <li><b>Files:</b>
                            <ul>
                                <% for(var i = 0; i < series[single_series].filenames.length; i++) { %>
                                    <li>
                                        <%= series[single_series].filenames[i] %>
                                        <ul>
                                            <li>
                                                <% if (series[single_series].anon_checksums[i]) { %>
                                                    Checksum (local): <%= series[single_series].anon_checksums[i] %>
                                                <% } else { %>
                                                    <span style="color: red">Rejected</span>
                                                <% } %>
                                            </li>
                                        </ul>
                                    </li>
                                <% } %>
                            </ul>
                        </li>
                    </ul>
                </li>
            <% } %>
            </ol>
    </div>
</div>